<div>
  <% @posts.each do |post| %>
  <div class="border border-slate-100 -m-px pt-3 px-4">
    <article>
      <div>
        <div class="pb-3 flex">
            <div class="mr-2">
              <% if post.user.image_url.present? %>
                <%= image_tag(user.image_url, size: "40x40", class: "rounded-full") %>
              <% else %>
                <%= image_tag("user-images/initial_icon.png", size: "40x40", class: "rounded-full") %>
              <% end %>
            </div>
            <div class="w-full flex flex-col">
              <div class="font-bold text-sm ">
                <%= post.user.user_name %>
              </div>
              <div>
                <%= post.content %>
              </div>
              <div class="w-3/4 mt-3 flex justify-between">
                <div class="flex">
                  <%= image_tag("icons/reply_icon.svg", width: "18.75px", height: "18.75px") %>
                  <div class="px-1 text-sm">1</div>
                </div>
                <div class="flex">
                  <%= image_tag("icons/repost_icon.svg", width: "18.75px", height: "18.75px") %>
                  <div class="px-1 text-sm">1</div>
                </div>
                <div class="flex">
                  <%= image_tag("icons/favorite_icon.svg", width: "18.75px", height: "18.75px") %>
                  <div class="px-1 text-sm">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
  <% end %>
</div>
